.blog-popup-container {
  width: 100%;
  background-color: rgba(#1d1c1a, 0.9);
  text-align: center;
  padding: 150px 0;
}

.blog-popup {
  width: 1030px;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.c-blog-popup--slider {
  width: 970px;
  position: relative;
  padding-bottom: 50px;
}

.c-blog-popup--slider--controls {
  position: absolute;
  right: 30px;
  top: 435px
}

.c-blog-popup--slider--controls--leftarrow,
.c-blog-popup--slider--controls--rightarrow {
  border: 1px solid  #fff;
  display: inline-block;
  margin: 10px;
  background-color: #2c2b29;

  a {
    display: block;
    padding: 15px 21px;
  }
}

.c-blog-popup--slider--indicator {
  position: absolute;
  top: 490px;
  left: 30px;
}

.c-blog-popup--slider--indicator--dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid  #fff;
  background-color: #2c2b29;
  margin: 0 5px 0 0;
}

.c-blog-popup--slider--indicator--dot__current {
  border: 1px solid #c69f76;
  background-color: #c69f76;
}

.blog-pupup--text {
  text-align: left;
  width: 570px;
  float: left;
}

.c-blog-popup--text--body {
  font-size: 16px;
  color: #191918;
}

.blog-pupup--infographics {
  background-color: #f6f6f6;
  padding: 30px;
  margin-top: 50px;
}

.blog-pupup--infographics--bar {
  padding: 15px 0;
}

.blog-pupup--infographics-text__lg,
.blog-pupup--infographics-text__md,
.blog-pupup--infographics-text__sm {
  color: #191918;
  display: inline-block;
}

.blog-pupup--infographics-text__lg,
.blog-pupup--infographics-text__md {
  font-weight: 700; 
}



.blog-pupup--infographics-text__lg {
  font-size: 32px;
}

.blog-pupup--infographics-text__md {
  font-size: 14px;
}

.blog-pupup--infographics-text__sm {
  font-size: 14px;
}

.blog-pupup--infographics--bar__bgnd {
  background-color: #191918;
  padding: 3px 5px;
}

.blog-pupup--infographics--bar__filler {
  height: 5px;
  background-color: $color-light-brown;

  &.PS {
    width: 98%;
  }

  &.design {
    width: 75%;
  }
}

.c-blog-popup--info {
  float: right;
  width: 300px;
  text-align: left;
  margin-left: 50px;
}

.c-blog-popup--info-data {
  padding: 10px 0;
}

.c-blog-popup--info-text,
.c-blog-popup--info-text__emph {
  font-size: 14px;
  color: #191918;
}

.c-blog-popup--info-text__emph {
  font-weight: 700;
}

.c-blog-popup--controls {
  width: 100%;
  padding-top: 100px;
}

.c-blog-popup--controls-previous {
  float: left;
}

.c-blog-popup--controls-next {
  float: right;
}

.c-blog-popup--controls--text {
  display: inline-block;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  color: #c5996c;
}

.c-blog-popup--close-button {
  position: absolute;
  background-color: $color-light-brown;
  right: -46px;
  top: 0px;

  a {
    display: block;
    line-height: 0;
    padding: 15px;
  }
}