.c-btn {
  color: #fff;
  line-height: 3em;
  padding: 10px 45px;
  font-size: 18px;
  font-weight: bold;
  background-color: $color-light-brown;
}

.c-btn__black {
  background-color: #1a1918;
  font-size: 14px;
}

.c-header-dark {
  font-size: 56px;
  color: #000;
}

.c-description-dark {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.c-header-light {
  font-size: 56px;
  color: #fff;
}

.c-description-light {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}