/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-awesome-projects-name: 'icon-Awesome-Projects';
$icon-awesome-projects-x: 172px;
$icon-awesome-projects-y: 32px;
$icon-awesome-projects-offset-x: -172px;
$icon-awesome-projects-offset-y: -32px;
$icon-awesome-projects-width: 48px;
$icon-awesome-projects-height: 49px;
$icon-awesome-projects-total-width: 222px;
$icon-awesome-projects-total-height: 200px;
$icon-awesome-projects-image: '../i/sprite.png';
$icon-awesome-projects: (172px, 32px, -172px, -32px, 48px, 49px, 222px, 200px, '../i/sprite.png', 'icon-Awesome-Projects', );
$icon-coffees-drinked-name: 'icon-Coffees-Drinked';
$icon-coffees-drinked-x: 120px;
$icon-coffees-drinked-y: 81px;
$icon-coffees-drinked-offset-x: -120px;
$icon-coffees-drinked-offset-y: -81px;
$icon-coffees-drinked-width: 51px;
$icon-coffees-drinked-height: 39px;
$icon-coffees-drinked-total-width: 222px;
$icon-coffees-drinked-total-height: 200px;
$icon-coffees-drinked-image: '../i/sprite.png';
$icon-coffees-drinked: (120px, 81px, -120px, -81px, 51px, 39px, 222px, 200px, '../i/sprite.png', 'icon-Coffees-Drinked', );
$icon-developing-icon-name: 'icon-Developing-Icon';
$icon-developing-icon-x: 0px;
$icon-developing-icon-y: 60px;
$icon-developing-icon-offset-x: 0px;
$icon-developing-icon-offset-y: -60px;
$icon-developing-icon-width: 60px;
$icon-developing-icon-height: 60px;
$icon-developing-icon-total-width: 222px;
$icon-developing-icon-total-height: 200px;
$icon-developing-icon-image: '../i/sprite.png';
$icon-developing-icon: (0px, 60px, 0px, -60px, 60px, 60px, 222px, 200px, '../i/sprite.png', 'icon-Developing-Icon', );
$icon-emails-icon-name: 'icon-Emails-Icon';
$icon-emails-icon-x: 171px;
$icon-emails-icon-y: 81px;
$icon-emails-icon-offset-x: -171px;
$icon-emails-icon-offset-y: -81px;
$icon-emails-icon-width: 48px;
$icon-emails-icon-height: 39px;
$icon-emails-icon-total-width: 222px;
$icon-emails-icon-total-height: 200px;
$icon-emails-icon-image: '../i/sprite.png';
$icon-emails-icon: (171px, 81px, -171px, -81px, 48px, 39px, 222px, 200px, '../i/sprite.png', 'icon-Emails-Icon', );
$icon-flag-icon-name: 'icon-Flag-Icon';
$icon-flag-icon-x: 38px;
$icon-flag-icon-y: 120px;
$icon-flag-icon-offset-x: -38px;
$icon-flag-icon-offset-y: -120px;
$icon-flag-icon-width: 31px;
$icon-flag-icon-height: 29px;
$icon-flag-icon-total-width: 222px;
$icon-flag-icon-total-height: 200px;
$icon-flag-icon-image: '../i/sprite.png';
$icon-flag-icon: (38px, 120px, -38px, -120px, 31px, 29px, 222px, 200px, '../i/sprite.png', 'icon-Flag-Icon', );
$icon-happy-clients-icon-name: 'icon-Happy-Clients-Icon';
$icon-happy-clients-icon-x: 120px;
$icon-happy-clients-icon-y: 32px;
$icon-happy-clients-icon-offset-x: -120px;
$icon-happy-clients-icon-offset-y: -32px;
$icon-happy-clients-icon-width: 52px;
$icon-happy-clients-icon-height: 49px;
$icon-happy-clients-icon-total-width: 222px;
$icon-happy-clients-icon-total-height: 200px;
$icon-happy-clients-icon-image: '../i/sprite.png';
$icon-happy-clients-icon: (120px, 32px, -120px, -32px, 52px, 49px, 222px, 200px, '../i/sprite.png', 'icon-Happy-Clients-Icon', );
$icon-next-icon-name: 'icon-Next-Icon';
$icon-next-icon-x: 65px;
$icon-next-icon-y: 158px;
$icon-next-icon-offset-x: -65px;
$icon-next-icon-offset-y: -158px;
$icon-next-icon-width: 11px;
$icon-next-icon-height: 19px;
$icon-next-icon-total-width: 222px;
$icon-next-icon-total-height: 200px;
$icon-next-icon-image: '../i/sprite.png';
$icon-next-icon: (65px, 158px, -65px, -158px, 11px, 19px, 222px, 200px, '../i/sprite.png', 'icon-Next-Icon', );
$icon-office-address-icon-name: 'icon-Office-Address-Icon';
$icon-office-address-icon-x: 0px;
$icon-office-address-icon-y: 158px;
$icon-office-address-icon-offset-x: 0px;
$icon-office-address-icon-offset-y: -158px;
$icon-office-address-icon-width: 28px;
$icon-office-address-icon-height: 42px;
$icon-office-address-icon-total-width: 222px;
$icon-office-address-icon-total-height: 200px;
$icon-office-address-icon-image: '../i/sprite.png';
$icon-office-address-icon: (0px, 158px, 0px, -158px, 28px, 42px, 222px, 200px, '../i/sprite.png', 'icon-Office-Address-Icon', );
$icon-phones-icon-name: 'icon-Phones-Icon';
$icon-phones-icon-x: 0px;
$icon-phones-icon-y: 120px;
$icon-phones-icon-offset-x: 0px;
$icon-phones-icon-offset-y: -120px;
$icon-phones-icon-width: 38px;
$icon-phones-icon-height: 38px;
$icon-phones-icon-total-width: 222px;
$icon-phones-icon-total-height: 200px;
$icon-phones-icon-image: '../i/sprite.png';
$icon-phones-icon: (0px, 120px, 0px, -120px, 38px, 38px, 222px, 200px, '../i/sprite.png', 'icon-Phones-Icon', );
$icon-previous-icon-name: 'icon-Previous-Icon';
$icon-previous-icon-x: 54px;
$icon-previous-icon-y: 158px;
$icon-previous-icon-offset-x: -54px;
$icon-previous-icon-offset-y: -158px;
$icon-previous-icon-width: 11px;
$icon-previous-icon-height: 19px;
$icon-previous-icon-total-width: 222px;
$icon-previous-icon-total-height: 200px;
$icon-previous-icon-image: '../i/sprite.png';
$icon-previous-icon: (54px, 158px, -54px, -158px, 11px, 19px, 222px, 200px, '../i/sprite.png', 'icon-Previous-Icon', );
$icon-scroll-down-icon-name: 'icon-Scroll-Down-Icon';
$icon-scroll-down-icon-x: 201px;
$icon-scroll-down-icon-y: 120px;
$icon-scroll-down-icon-offset-x: -201px;
$icon-scroll-down-icon-offset-y: -120px;
$icon-scroll-down-icon-width: 18px;
$icon-scroll-down-icon-height: 11px;
$icon-scroll-down-icon-total-width: 222px;
$icon-scroll-down-icon-total-height: 200px;
$icon-scroll-down-icon-image: '../i/sprite.png';
$icon-scroll-down-icon: (201px, 120px, -201px, -120px, 18px, 11px, 222px, 200px, '../i/sprite.png', 'icon-Scroll-Down-Icon', );
$icon-trendy-logo-name: 'icon-Trendy-Logo';
$icon-trendy-logo-x: 120px;
$icon-trendy-logo-y: 0px;
$icon-trendy-logo-offset-x: -120px;
$icon-trendy-logo-offset-y: 0px;
$icon-trendy-logo-width: 102px;
$icon-trendy-logo-height: 32px;
$icon-trendy-logo-total-width: 222px;
$icon-trendy-logo-total-height: 200px;
$icon-trendy-logo-image: '../i/sprite.png';
$icon-trendy-logo: (120px, 0px, -120px, 0px, 102px, 32px, 222px, 200px, '../i/sprite.png', 'icon-Trendy-Logo', );
$icon-working-hours-name: 'icon-Working-Hours';
$icon-working-hours-x: 60px;
$icon-working-hours-y: 60px;
$icon-working-hours-offset-x: -60px;
$icon-working-hours-offset-y: -60px;
$icon-working-hours-width: 52px;
$icon-working-hours-height: 35px;
$icon-working-hours-total-width: 222px;
$icon-working-hours-total-height: 200px;
$icon-working-hours-image: '../i/sprite.png';
$icon-working-hours: (60px, 60px, -60px, -60px, 52px, 35px, 222px, 200px, '../i/sprite.png', 'icon-Working-Hours', );
$icon-building-name: 'icon-building';
$icon-building-x: 28px;
$icon-building-y: 158px;
$icon-building-offset-x: -28px;
$icon-building-offset-y: -158px;
$icon-building-width: 26px;
$icon-building-height: 33px;
$icon-building-total-width: 222px;
$icon-building-total-height: 200px;
$icon-building-image: '../i/sprite.png';
$icon-building: (28px, 158px, -28px, -158px, 26px, 33px, 222px, 200px, '../i/sprite.png', 'icon-building', );
$icon-cup-name: 'icon-cup';
$icon-cup-x: 69px;
$icon-cup-y: 120px;
$icon-cup-offset-x: -69px;
$icon-cup-offset-y: -120px;
$icon-cup-width: 30px;
$icon-cup-height: 29px;
$icon-cup-total-width: 222px;
$icon-cup-total-height: 200px;
$icon-cup-image: '../i/sprite.png';
$icon-cup: (69px, 120px, -69px, -120px, 30px, 29px, 222px, 200px, '../i/sprite.png', 'icon-cup', );
$icon-desktop-name: 'icon-desktop';
$icon-desktop-x: 60px;
$icon-desktop-y: 0px;
$icon-desktop-offset-x: -60px;
$icon-desktop-offset-y: 0px;
$icon-desktop-width: 60px;
$icon-desktop-height: 60px;
$icon-desktop-total-width: 222px;
$icon-desktop-total-height: 200px;
$icon-desktop-image: '../i/sprite.png';
$icon-desktop: (60px, 0px, -60px, 0px, 60px, 60px, 222px, 200px, '../i/sprite.png', 'icon-desktop', );
$icon-dribble-dark-name: 'icon-dribble-dark';
$icon-dribble-dark-x: 99px;
$icon-dribble-dark-y: 120px;
$icon-dribble-dark-offset-x: -99px;
$icon-dribble-dark-offset-y: -120px;
$icon-dribble-dark-width: 17px;
$icon-dribble-dark-height: 17px;
$icon-dribble-dark-total-width: 222px;
$icon-dribble-dark-total-height: 200px;
$icon-dribble-dark-image: '../i/sprite.png';
$icon-dribble-dark: (99px, 120px, -99px, -120px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-dribble-dark', );
$icon-facebook-sm-name: 'icon-facebook-sm';
$icon-facebook-sm-x: 111px;
$icon-facebook-sm-y: 95px;
$icon-facebook-sm-offset-x: -111px;
$icon-facebook-sm-offset-y: -95px;
$icon-facebook-sm-width: 9px;
$icon-facebook-sm-height: 13px;
$icon-facebook-sm-total-width: 222px;
$icon-facebook-sm-total-height: 200px;
$icon-facebook-sm-image: '../i/sprite.png';
$icon-facebook-sm: (111px, 95px, -111px, -95px, 9px, 13px, 222px, 200px, '../i/sprite.png', 'icon-facebook-sm', );
$icon-fb-dark-name: 'icon-fb-dark';
$icon-fb-dark-x: 77px;
$icon-fb-dark-y: 95px;
$icon-fb-dark-offset-x: -77px;
$icon-fb-dark-offset-y: -95px;
$icon-fb-dark-width: 17px;
$icon-fb-dark-height: 17px;
$icon-fb-dark-total-width: 222px;
$icon-fb-dark-total-height: 200px;
$icon-fb-dark-image: '../i/sprite.png';
$icon-fb-dark: (77px, 95px, -77px, -95px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-fb-dark', );
$icon-flickr-dark-name: 'icon-flickr-dark';
$icon-flickr-dark-x: 116px;
$icon-flickr-dark-y: 120px;
$icon-flickr-dark-offset-x: -116px;
$icon-flickr-dark-offset-y: -120px;
$icon-flickr-dark-width: 17px;
$icon-flickr-dark-height: 17px;
$icon-flickr-dark-total-width: 222px;
$icon-flickr-dark-total-height: 200px;
$icon-flickr-dark-image: '../i/sprite.png';
$icon-flickr-dark: (116px, 120px, -116px, -120px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-flickr-dark', );
$icon-gplus-dark-name: 'icon-gplus-dark';
$icon-gplus-dark-x: 133px;
$icon-gplus-dark-y: 120px;
$icon-gplus-dark-offset-x: -133px;
$icon-gplus-dark-offset-y: -120px;
$icon-gplus-dark-width: 17px;
$icon-gplus-dark-height: 17px;
$icon-gplus-dark-total-width: 222px;
$icon-gplus-dark-total-height: 200px;
$icon-gplus-dark-image: '../i/sprite.png';
$icon-gplus-dark: (133px, 120px, -133px, -120px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-gplus-dark', );
$icon-gplus-sm-name: 'icon-gplus-sm';
$icon-gplus-sm-x: 102px;
$icon-gplus-sm-y: 158px;
$icon-gplus-sm-offset-x: -102px;
$icon-gplus-sm-offset-y: -158px;
$icon-gplus-sm-width: 13px;
$icon-gplus-sm-height: 13px;
$icon-gplus-sm-total-width: 222px;
$icon-gplus-sm-total-height: 200px;
$icon-gplus-sm-image: '../i/sprite.png';
$icon-gplus-sm: (102px, 158px, -102px, -158px, 13px, 13px, 222px, 200px, '../i/sprite.png', 'icon-gplus-sm', );
$icon-light-bulb-name: 'icon-light-bulb';
$icon-light-bulb-x: 0px;
$icon-light-bulb-y: 0px;
$icon-light-bulb-offset-x: 0px;
$icon-light-bulb-offset-y: 0px;
$icon-light-bulb-width: 60px;
$icon-light-bulb-height: 60px;
$icon-light-bulb-total-width: 222px;
$icon-light-bulb-total-height: 200px;
$icon-light-bulb-image: '../i/sprite.png';
$icon-light-bulb: (0px, 0px, 0px, 0px, 60px, 60px, 222px, 200px, '../i/sprite.png', 'icon-light-bulb', );
$icon-linkedin-dark-name: 'icon-linkedin-dark';
$icon-linkedin-dark-x: 94px;
$icon-linkedin-dark-y: 95px;
$icon-linkedin-dark-offset-x: -94px;
$icon-linkedin-dark-offset-y: -95px;
$icon-linkedin-dark-width: 17px;
$icon-linkedin-dark-height: 17px;
$icon-linkedin-dark-total-width: 222px;
$icon-linkedin-dark-total-height: 200px;
$icon-linkedin-dark-image: '../i/sprite.png';
$icon-linkedin-dark: (94px, 95px, -94px, -95px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-linkedin-dark', );
$icon-linkedin-sm-name: 'icon-linkedin-sm';
$icon-linkedin-sm-x: 89px;
$icon-linkedin-sm-y: 158px;
$icon-linkedin-sm-offset-x: -89px;
$icon-linkedin-sm-offset-y: -158px;
$icon-linkedin-sm-width: 13px;
$icon-linkedin-sm-height: 13px;
$icon-linkedin-sm-total-width: 222px;
$icon-linkedin-sm-total-height: 200px;
$icon-linkedin-sm-image: '../i/sprite.png';
$icon-linkedin-sm: (89px, 158px, -89px, -158px, 13px, 13px, 222px, 200px, '../i/sprite.png', 'icon-linkedin-sm', );
$icon-pinterest-dark-name: 'icon-pinterest-dark';
$icon-pinterest-dark-x: 167px;
$icon-pinterest-dark-y: 120px;
$icon-pinterest-dark-offset-x: -167px;
$icon-pinterest-dark-offset-y: -120px;
$icon-pinterest-dark-width: 17px;
$icon-pinterest-dark-height: 17px;
$icon-pinterest-dark-total-width: 222px;
$icon-pinterest-dark-total-height: 200px;
$icon-pinterest-dark-image: '../i/sprite.png';
$icon-pinterest-dark: (167px, 120px, -167px, -120px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-pinterest-dark', );
$icon-pinterest-sm-name: 'icon-pinterest-sm';
$icon-pinterest-sm-x: 76px;
$icon-pinterest-sm-y: 158px;
$icon-pinterest-sm-offset-x: -76px;
$icon-pinterest-sm-offset-y: -158px;
$icon-pinterest-sm-width: 13px;
$icon-pinterest-sm-height: 13px;
$icon-pinterest-sm-total-width: 222px;
$icon-pinterest-sm-total-height: 200px;
$icon-pinterest-sm-image: '../i/sprite.png';
$icon-pinterest-sm: (76px, 158px, -76px, -158px, 13px, 13px, 222px, 200px, '../i/sprite.png', 'icon-pinterest-sm', );
$icon-rss-dark-name: 'icon-rss-dark';
$icon-rss-dark-x: 184px;
$icon-rss-dark-y: 120px;
$icon-rss-dark-offset-x: -184px;
$icon-rss-dark-offset-y: -120px;
$icon-rss-dark-width: 17px;
$icon-rss-dark-height: 17px;
$icon-rss-dark-total-width: 222px;
$icon-rss-dark-total-height: 200px;
$icon-rss-dark-image: '../i/sprite.png';
$icon-rss-dark: (184px, 120px, -184px, -120px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-rss-dark', );
$icon-twitter-dark-name: 'icon-twitter-dark';
$icon-twitter-dark-x: 150px;
$icon-twitter-dark-y: 120px;
$icon-twitter-dark-offset-x: -150px;
$icon-twitter-dark-offset-y: -120px;
$icon-twitter-dark-width: 17px;
$icon-twitter-dark-height: 17px;
$icon-twitter-dark-total-width: 222px;
$icon-twitter-dark-total-height: 200px;
$icon-twitter-dark-image: '../i/sprite.png';
$icon-twitter-dark: (150px, 120px, -150px, -120px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-twitter-dark', );
$icon-twitter-sm-name: 'icon-twitter-sm';
$icon-twitter-sm-x: 115px;
$icon-twitter-sm-y: 158px;
$icon-twitter-sm-offset-x: -115px;
$icon-twitter-sm-offset-y: -158px;
$icon-twitter-sm-width: 13px;
$icon-twitter-sm-height: 13px;
$icon-twitter-sm-total-width: 222px;
$icon-twitter-sm-total-height: 200px;
$icon-twitter-sm-image: '../i/sprite.png';
$icon-twitter-sm: (115px, 158px, -115px, -158px, 13px, 13px, 222px, 200px, '../i/sprite.png', 'icon-twitter-sm', );
$icon-vk-dark-name: 'icon-vk-dark';
$icon-vk-dark-x: 60px;
$icon-vk-dark-y: 95px;
$icon-vk-dark-offset-x: -60px;
$icon-vk-dark-offset-y: -95px;
$icon-vk-dark-width: 17px;
$icon-vk-dark-height: 17px;
$icon-vk-dark-total-width: 222px;
$icon-vk-dark-total-height: 200px;
$icon-vk-dark-image: '../i/sprite.png';
$icon-vk-dark: (60px, 95px, -60px, -95px, 17px, 17px, 222px, 200px, '../i/sprite.png', 'icon-vk-dark', );
$spritesheet-width: 222px;
$spritesheet-height: 200px;
$spritesheet-image: '../i/sprite.png';
$spritesheet-sprites: ($icon-awesome-projects, $icon-coffees-drinked, $icon-developing-icon, $icon-emails-icon, $icon-flag-icon, $icon-happy-clients-icon, $icon-next-icon, $icon-office-address-icon, $icon-phones-icon, $icon-previous-icon, $icon-scroll-down-icon, $icon-trendy-logo, $icon-working-hours, $icon-building, $icon-cup, $icon-desktop, $icon-dribble-dark, $icon-facebook-sm, $icon-fb-dark, $icon-flickr-dark, $icon-gplus-dark, $icon-gplus-sm, $icon-light-bulb, $icon-linkedin-dark, $icon-linkedin-sm, $icon-pinterest-dark, $icon-pinterest-sm, $icon-rss-dark, $icon-twitter-dark, $icon-twitter-sm, $icon-vk-dark, );
$spritesheet: (222px, 200px, '../i/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
