/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,600);
.icon-Flag-Icon {
  background-image: url(../i/sprite.png);
  background-position: 0px -32px;
  width: 31px;
  height: 29px; }

.icon-Next-Icon {
  background-image: url(../i/sprite.png);
  background-position: -72px -32px;
  width: 11px;
  height: 19px; }

.icon-Previous-Icon {
  background-image: url(../i/sprite.png);
  background-position: -61px -32px;
  width: 11px;
  height: 19px; }

.icon-Scroll-Down-Icon {
  background-image: url(../i/sprite.png);
  background-position: -83px -32px;
  width: 18px;
  height: 11px; }

.icon-Trendy-Logo {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 102px;
  height: 32px; }

.icon-building {
  background-image: url(../i/sprite.png);
  background-position: 0px -61px;
  width: 26px;
  height: 33px; }

.icon-cup {
  background-image: url(../i/sprite.png);
  background-position: -31px -32px;
  width: 30px;
  height: 29px; }

.icon-facebook-sm {
  background-image: url(../i/sprite.png);
  background-position: -78px -61px;
  width: 9px;
  height: 13px; }

.icon-gplus-sm {
  background-image: url(../i/sprite.png);
  background-position: -52px -61px;
  width: 13px;
  height: 13px; }

.icon-linkedin-sm {
  background-image: url(../i/sprite.png);
  background-position: -26px -61px;
  width: 13px;
  height: 13px; }

.icon-pinterest-sm {
  background-image: url(../i/sprite.png);
  background-position: -39px -61px;
  width: 13px;
  height: 13px; }

.icon-twitter-sm {
  background-image: url(../i/sprite.png);
  background-position: -65px -61px;
  width: 13px;
  height: 13px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%;
  min-width: 1170px; }

body {
  font: normal 16px/1.4 Open Sans, Arial, sans-serif; }

* {
  box-sizing: border-box;
  outline: none; }

.wrapper {
  width: 1170px;
  margin: auto; }

.icon {
  display: inline-block; }

a {
  text-decoration: none; }

.clearfix:before, .l-header:before, .l-about:before, .l-about--diagram:before,
.clearfix:after,
.l-header:after,
.l-about:after,
.l-about--diagram:after {
  content: "";
  display: table; }

.clearfix:after, .l-header:after, .l-about:after, .l-about--diagram:after {
  clear: both; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.c-btn {
  color: #fff;
  line-height: 3em;
  padding: 10px 45px;
  font-size: 18px;
  font-weight: bold;
  background-color: #c59a6d; }

.c-header-dark {
  font-size: 56px;
  color: #000; }

.c-description-dark {
  font-size: 16px;
  font-weight: 600;
  color: #000; }

.c-header-light {
  font-size: 56px;
  color: #fff; }

.c-description-light {
  font-size: 16px;
  font-weight: 600;
  color: #fff; }

.l-header {
  background-color: #2c2b2a;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000; }

.l-logo {
  float: left;
  padding-top: 7px; }

.l-navbar {
  float: right;
  line-height: 3em; }

.l-navbar--item {
  display: inline-block;
  padding: 0 10px; }
  .l-navbar--item:last-child {
    padding-right: 0; }
  .l-navbar--item a {
    font-size: 14px;
    font-weight: bold;
    color: #fff; }

.l-navbar--item__active {
  border: 1px solid #fff;
  line-height: 1em;
  padding: 10px 15px;
  background-color: #2f2d2a; }

.l-hero {
  background-color: #2c2b2a;
  margin-top: 109px;
  padding: 50px 0;
  text-align: center;
  vertical-align: middle; }

.l-hero--header {
  font-size: 128px;
  color: #fff; }

.l-hero--description {
  font-size: 16px;
  color: #fff;
  margin-top: 45px; }

.l-hero--divider {
  width: 170px;
  border: 2px solid #c69b6e;
  display: inline-block; }

.l-hero--scrolldown {
  display: inline-block;
  width: 39px;
  height: 39px;
  border: 1px solid #fff;
  padding-top: 8px;
  margin-top: 175px; }

.l-about {
  padding: 100px 0;
  text-align: center;
  vertical-align: middle; }

.l-about--company {
  padding: 70px 0 95px 0; }

.l-about--diagram {
  height: auto;
  width: 1070px;
  text-align: center;
  margin: 0 auto; }

.l-about--history-card {
  display: block;
  width: 430px;
  float: left;
  clear: both;
  position: relative;
  padding: 50px 0; }

.l-about--history-card-container {
  border: 1px solid  #ccc;
  padding: 30px; }

.l-about--history-card:nth-child(2n) {
  float: right;
  text-align: right; }

.l-about--history-card:after {
  top: 50%;
  height: 50%;
  content: '';
  border: 1px solid #ccc;
  height: 100%;
  background: #000;
  position: absolute;
  right: -11px;
  top: 0;
  z-index: 2; }

.l-about--history-card:nth-child(2n):after {
  right: auto;
  left: -108px; }

.l-about--history-card:nth-child(2n+1):after {
  left: auto;
  right: -104px; }

.l-about--history-card:first-child:after {
  top: 55%;
  height: 50%;
  right: -104px; }

.l-about--history-card:last-child:after {
  top: 0%;
  right: -104px; }

.l-about--history-card-pictogram {
  border: 1px solid  #ccc;
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 20px 0;
  float: left;
  margin-right: 30px; }

.l-about--history-card-text {
  width: 250px;
  overflow: auto;
  text-align: justify; }

.l-about--history-card-year {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: 47px;
  z-index: 5; }

.l-about--history-card-year:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background: #c59a6d;
  left: 0;
  top: 6px;
  margin-left: 50px;
  z-index: 5; }

.l-about--history-card:nth-child(2n) .l-about--history-card-year {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 51px; }

.l-about--history-card:nth-child(2n) .l-about--history-card-year:before {
  left: auto;
  right: 0;
  margin-right: 50px;
  margin-left: 0; }

.l-about--history-card-header,
.l-about--history-card-year {
  font-size: 18px;
  color: #c59a6d;
  font-weight: bold; }

.l-about--history-card-story {
  font-size: 14px;
  margin-top: 30px; }

.l-about--diagram--button-more:hover {
  cursor: hand; }

.l-about--divider {
  width: 170px;
  border: 1px solid  #ccc;
  display: inline-block; }

.l-about--team {
  padding-top: 95px; }

.l-about--team--gallery {
  display: flex;
  justify-content: center;
  padding-top: 70px; }

.l-about--team--gallery-item {
  margin: 15px; }

.l-about--team--gallery-item--picture {
  border: 1px solid  #ccc;
  padding: 9px; }
  .l-about--team--gallery-item--picture a {
    display: block;
    line-height: 0; }

.l-about--team--gallery-item-text {
  padding-top: 20px;
  text-align: left; }

.l-about--team--gallery-item-text--name {
  font-size: 16px;
  color: #c59a6d;
  font-weight: bold; }

.l-about--team--gallery-item-text--title {
  font-size: 14px;
  color: #777; }

.l-about--team--gallery-item-social {
  padding: 5px 0;
  text-align: left; }

.l-works {
  padding: 100px 0;
  text-align: center;
  vertical-align: middle;
  background-color: #1b1a18; }

.l-works--gallery {
  padding-top: 70px; }

.l-works--gallery-content {
  padding-bottom: 50px; }

.l-works--gallery-content {
  display: flex;
  justify-content: center; }

.l-works--gallery-item {
  margin: 15px; }

.l-works--gallery-item--picture {
  border: 1px solid  #555555;
  padding: 14px; }
  .l-works--gallery-item--picture a {
    display: block;
    line-height: 0; }

.l-works--gallery-item--name {
  font-size: 18px;
  color: #c59a6d;
  font-weight: bold;
  display: block;
  text-align: left;
  line-height: 3em;
  padding-top: 10px; }

.l-works--gallery-item--divider {
  width: 70px;
  border-bottom: 1px solid #c59a6d; }

.l-works--gallery-item--category {
  font-size: 14px;
  color: #ccc;
  display: block;
  text-align: left;
  line-height: 3em; }

.l-works--gallery--controls--leftarrow,
.l-works--gallery--controls--rightarrow {
  border: 1px solid  #fff;
  display: inline-block;
  margin: 15px; }
  .l-works--gallery--controls--leftarrow a,
  .l-works--gallery--controls--rightarrow a {
    display: block;
    padding: 20px 26px; }

.l-works--gallery--indicator--dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid  #fff;
  margin: 0 5px; }

.l-works--gallery--indicator--dot__current {
  border: 1px solid #c59a6d;
  background-color: #c59a6d; }
