.l-trivia {
  padding: 100px 0;
  text-align: center;
  vertical-align: middle;
  background-image: url('../i/trivia-bg-dummy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.l-trivia--stats {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.l-trivia--stats-item {
  min-width: 270px;
  @extend .clearfix;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 15px;
  }
}

.l-trivia--stats-item--pic {
  float: left;
}

.l-trivia--stats-item--data {
  text-align: left;
  padding-left: 80px;
}

.l-trivia--stats-item--number {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  line-height: 0.7;
}

.l-trivia--stats-item--name {
  font-size: 16px;
  font-weight: 700;
  color: $color-light-brown;
  line-height: 3em;
}